<!-- MODAL -->
{{#ifeq openModal "yes"}}
    <div class="modal-wrapper">
    <div class="modal-container">
            <div class="modal-close-container"><i class="far fa-times-circle modal-close"></i></div>
            <div class="modal">
                <h3 class="modal-title">{{aircraft.manufacturer_name}} {{aircraft.name}}</h3>
                <div class="modal-content">
                    <p><span>Aircraft spec:</span>{{newestSubmission.aircraft_spec}}</p>
                    <p><span>Value:</span>{{newestSubmission.value}}</p>
                    <p><span>Submitted by:</span>{{newestSubmission.username}}</p>
                    <p><span>Submitted on:</span>{{newestSubmission.readableDate}}</p>
                    <p><span>Aprroved by:</span></p>
                    <p><span>Approved on:</span></p>
                    <p><span>Source:</span> <a href="{{newestSubmission.source}}" target="_blank">visit source</a></p>
                </div>
            </div>
        </div>
    </div>
{{/ifeq}}