<!-- MODAL -->
{{#ifeq openModal "yes"}}
    <div class="modal-wrapper">
    <div class="modal-container">
            <div class="modal-close-container"><i class="far fa-times-circle modal-close"></i></div>
            <div class="modal">
                <h3 class="modal-title">{{aircraft.manufacturer_name}} {{aircraft.name}}</h3>
                <div class="modal-content">
                    {{#if newestSubmission}}
                        <p><span>Aircraft spec:</span>{{newestSubmission.aircraft_spec}}</p>
                        <p><span>Value:</span>{{newestSubmission.value}}</p>
                        <p><span>Submitted by:</span>{{newestSubmission.username}}</p>
                        <p><span>Submitted on:</span>{{newestSubmission.readableDate}}</p>
                        <p><span>Aprroved by:</span>{{newestSubmission.admin}}</p>
                        <p><span>Approved on:</span>{{newestSubmission.readableApprovedOnDate}}</p>
                        <p>
                            <span>Source:</span>
                            {{#ifnoteq newestSubmission.source ""}}
                                <a href="{{newestSubmission.source}}" target="_blank">visit source</a>
                            {{else}}
                                no source submitted
                            {{/ifnoteq}}
                        </p>
                        <br>
                        <p><span>History:</span></p>
                        <ul>
                            {{#each newestSubmissions}}
                                <li><p><span>{{this.readableDate}} - </span>{{this.value}}</p></li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <p><span>Aircraft spec:</span>{{spec}}</p>
                        <p><span>Value:</span>{{lookup aircraft spec}}</p>
                        <p><span>Submitted by:</span>A trusted admin added this information</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{/ifeq}}