{{#ifeq spec ""}}
    <td><a href="#" class="aircraft-spec">{{spec}}</a></td>
    <td><a href="/aircrafts/add-spec/{{ref}}/{{aircraft._id}}" class="add-button">Add Information</a></td>
{{/ifeq}}

{{#ifnoteq spec ""}}
    <td>{{spec}}<a href="/aircrafts/model/{{aircraft._id}}/{{ref}}" class="aircraft-spec"><i class="fa fa-question-circle" aria-hidden="true"></i>
</a></td>
    <td><a href="/aircrafts/change-spec/{{ref}}/{{aircraft._id}}" class="change-button">Change</a> / <a href="/aircrafts/remove-spec/{{ref}}/{{aircraft._id}}" class="remove-button">Remove</a></td>
{{/ifnoteq}}