{{> admin-panel-jumbotron}}
<!-- ADD INFORMATION SUBMISSIONS -->
<div class="submissions-wrapper">
    <h3>Pending <span style="text-transform: capitalize">"{{submissionType}}"</span> Submissions</h3>
    <table>
        <tr class="submission-table-titles">
            <td>Aircraft</td>
            <td>Aircraft Spec</td>
            <td>Value</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {{#if submissions}}
            {{#each submissions}}
                <tr>
                    <td>{{this.aircraft}} /<br />{{this.aircraft_name}}</td>
                    <td>{{this.aircraft_spec}}</td>
                    <td>{{this.value}}</td>
                    <td>{{this.status}}</td>
                    {{#ifeq this.status "pending"}}
                        <td><a href="/admin/add-submissions/{{this._id}}" class="submission-button review">Review</a></td>
                    {{else}}
                        <td><a href="/admin/add-submissions/{{this._id}}" class="submission-button view">View</a></td>
                    {{/ifeq}}
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="5"><p>No "add-information" submissions</p></td>
            </tr>
        {{/if}}
    </table>
</div>