<!-- JUMBOTRON -->
<div class="jumbotron" id="admin-panel-jumbotron">
    <div class="jumbotron-overlay dark">
        <div class="jumbotron-title-container medium-jumbotron">
            <h1>Administration Panel</h1>
        </div>
    </div>
</div>
<!-- ADD INFORMATION SUBMISSIONS -->
<div class="submissions-wrapper">
    <h3>Pending "Add-Information" Submissions</h3>
    <table>
        <tr class="submission-table-titles">
            <td>Aircraft</td>
            <td>Aircraft Spec</td>
            <td>Value</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {{#each addSubmissions}}
        <tr>
            <td>{{this.aircraft}} /<br />{{this.aircraft_name}}</td>
            <td>{{this.aircraft_spec}}</td>
            <td>{{this.value}}</td>
            <td>{{this.status}}</td>
            {{#ifeq this.status "pending"}}
                <td><a href="/admin/add-submissions/{{this._id}}" class="submission-button review">Review</a></td>
            {{/ifeq}}
        </tr>
        {{/each}}
    </table>
</div>

<!-- CHANGE INFORMATION SUBMISSIONS -->
<div class="submissions-wrapper">
    <h3>Pending "Change-Information" Submissions</h3>
    <table>
        <tr class="submission-table-titles">
            <td>Aircraft</td>
            <td>Aircraft Spec</td>
            <td>Value</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {{#each changeSubmittions}}
        <tr>
            <td>{{this.aircraft}} /<br />{{this.aircraft_name}}</td>
            <td>{{this.aircraft_spec}}</td>
            <td>{{this.value}}</td>
            <td>{{this.status}}</td>
            {{#ifeq this.status "pending"}}
                <td><a href="/admin/change-submissions/{{this._id}}" class="submission-button review">Review</a></td>
            {{/ifeq}}
        </tr>
        {{/each}}
    </table>
</div>

<!-- REMOVE INFORMATION SUBMISSIONS -->
<div class="submissions-wrapper">
    <h3>Pending "Remove-Information" Submissions</h3>
    <table>
        <tr class="submission-table-titles">
            <td>Aircraft</td>
            <td>Aircraft Spec</td>
            <td>Value</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {{#each removeSubmittions}}
        <tr>
            <td>{{this.aircraft}} /<br />{{this.aircraft_name}}</td>
            <td>{{this.aircraft_spec}}</td>
            <td>{{this.value}}</td>
            <td>{{this.status}}</td>
            {{#ifeq this.status "pending"}}
                <td><a href="/admin/remove-submissions/{{this._id}}" class="submission-button review">Review</a></td>
            {{/ifeq}}
        </tr>
        {{/each}}
    </table>
</div>