{{> admin-panel-jumbotron}}
<!-- ADD INFORMATION SUBMISSIONS -->
<div class="submissions-wrapper">
    <h3>Pending "Add-Information" Submissions</h3>
    <table>
        <tr class="submission-table-titles">
            <td>Aircraft</td>
            <td>Aircraft Spec</td>
            <td>Value</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {{#if addSubmissions}}
            {{#each addSubmissions}}
                <tr>
                    <td>{{this.manufacturer_name}} <br />{{this.aircraft_name}}</td>
                    <td>{{this.aircraft_spec}}</td>
                    <td>{{this.value}}</td>
                    <td>{{this.status}}</td>
                    {{#ifeq this.status "pending"}}
                        <td><a href="/admin/add-submissions/{{this._id}}" class="submission-button review">Review</a></td>
                    {{/ifeq}}
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="5"><p>No pending "add-information" submissions</p></td>
            </tr>
        {{/if}}
        <tr>
            <td class="all-submissions-td"><a href="/admin/add-submissions" class="all-submissions-link">View all submissions</a></td>
        </tr>
    </table>
</div>

<!-- CHANGE INFORMATION SUBMISSIONS -->
<div class="submissions-wrapper">
    <h3>Pending "Change-Information" Submissions</h3>
    <table>
        <tr class="submission-table-titles">
            <td>Aircraft</td>
            <td>Aircraft Spec</td>
            <td>Value</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {{#if changeSubmittions}}
            {{#each changeSubmittions}}
                <tr>
                    <td>{{this.manufacturer_name}} <br />{{this.aircraft_name}}</td>
                    <td>{{this.aircraft_spec}}</td>
                    <td>{{this.value}}</td>
                    <td>{{this.status}}</td>
                    {{#ifeq this.status "pending"}}
                        <td><a href="/admin/change-submissions/{{this._id}}" class="submission-button review">Review</a></td>
                    {{/ifeq}}
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="5"><p>No pending "change-information" submissions</p></td>
            </tr>
        {{/if}}
        <tr>
            <td class="all-submissions-td"><a href="/admin/change-submissions" class="all-submissions-link">View all submissions</a></td>
        </tr>
    </table>
</div>

<!-- REMOVE INFORMATION SUBMISSIONS -->
<div class="submissions-wrapper">
    <h3>Pending "Remove-Information" Submissions</h3>
    <table>
        <tr class="submission-table-titles">
            <td>Aircraft</td>
            <td>Aircraft Spec</td>
            <td>Value</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {{#if removeSubmittions}}
            {{#each removeSubmittions}}
                <tr>
                    <td>{{this.manufacturer_name}} <br />{{this.aircraft_name}}</td>
                    <td>{{this.aircraft_spec}}</td>
                    <td>{{this.value}}</td>
                    <td>{{this.status}}</td>
                    {{#ifeq this.status "pending"}}
                        <td><a href="/admin/remove-submissions/{{this._id}}" class="submission-button review">Review</a></td>
                    {{/ifeq}}
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="5"><p>No pending "remove-information" submissions</p></td>
            </tr>
        {{/if}}
        <tr>
            <td class="all-submissions-td"><a href="/admin/remove-submissions" class="all-submissions-link">View all submissions</a></td>
        </tr>
    </table>
</div>